<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Test Automation">
  <test thread-count="5" name="Cucumber Tests">
  	<classes>
      <!-- Write your comment-->
      <!--
      <class name="runners_Test.Login_Test"/>
       -->
      <class name="PlayListRunner.PlayListAPI_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
